@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  font-family: 'Onest Variable', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
  .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  input {
    border-radius: 6px;
    padding: 12px;
    width: 100%;
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 0 0.1vw #aaa;
    transition: all 300ms ease-in;
  }

  input:hover {
    box-shadow: 0 0 0 0.1vw white;
  }

  input:focus {
    box-shadow: 0 0 0 0.1vw #9ad953;
  }

  .button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #9ad953;
    transition: all 1000ms;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #9ad953;
  }
  
  .button:hover {
    color: #000000;
    transform: scale(1);
    outline: 2px solid #9ad953;
    box-shadow: 4px 5px 17px -4px #9ad953;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #9ad953;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }
  